.header{
   
    display: flex;
    flex-direction: row;
    height: 35px;
    justify-content: space-between;
    margin-bottom: 20px;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
   border-bottom: solid;
   border-color: rgb(222, 221, 221);
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   background-color: white;
   z-index: 100; /*appear on top of all kind of positions(relative etc)*/

}


.left-section{
  
  width: 140px;
 
    margin-right: 10px;/*bec even screen is very small there is always space in between/does not merge*/
    display: flex; /*another flex inside flex bec we need to align items in inner div and outer div flex doesnot work on elements that are inside the inner div*/
    align-items: center;
}

.hamburger-menu{
    height: 22px; /*size of logo*/
    margin: 18px; /*space on both side of logo*/
}
.youtube-logo{
    height: 22px; /*size of logo*/
}


.middle-section{
 
    flex: 1; /*bec it grows with chaning size/ responsive*/
    max-width: 500px; /* bec grows until certain width(350px) and then no more grow with changing size*/
    display: flex; /* to align items indie*/
    align-items: center;
}
.search-box{ 
    padding-left: 6px;
   height: 35px;
    border: solid;
    border-radius: 2px;
    flex: 2;
    box-shadow: inset 2px 2px 10px rgba(0, 0,0, 0.05);
    border-color: rgb(192, 192, 192);
    width: 0; /* to remove default width so it can shrink max*/
  
}
.search-box ::placeholder{
    font-size: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: lighter;
   
    
}
.search-button{
    height: 39px;
    border-color: rgb(192, 192, 192);
    background-color: #EFEFEF;
    border-style: solid;
    border-width: 1px;
    border-radius: 2px;
    margin-left: -1px;/*to merge inner borders of both*/

}
.search-icon{
 height: 22px;
margin-top: 2px;/*to adjust in the centre*/
padding-right: 10px;
padding-left: 10px;
}
.voice-search{
    height: 28px;
    border: none;
    border-radius: 20px;
    padding: 5px;
    background-color: #F8F8F8;
    margin-left: 10px;

}

.right-section{

    width: 180px;
    margin-left: 20px;/* bec does not merge ever with middle section*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0; /*does not reduce in size*/
    margin-left: 10px;
}
.right-section > *{
  height: 26px;
}
.notification-bell{
    position: relative;
}
.notification-bell > img{
    height: 26px;
  }
  .num{
    background-color: #CC0100;
    color: white;
    padding: 2px 4px;
    border-radius: 50px;
    border: white;
    font-size: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    position: absolute;
    top: 0px;
    right: -1px;
    z-index: 1;
   


  }
.myprofile{
margin-right: 20px;
height: 25px; /*little bigger than others*/
}